<!-- <div>
  <button (click)="userToggle()" [class.on]="isAdmin">{{ isAdmin ? 'Support Assistant' : 'Josh' }}</button>
</div>

<div class="cht-w">
  <button id="chatbot-toggle-btn" (click)="toggleChatPopup()">Start Chat</button>

  @if (viewChatPopup) {
  <app-chat-popup (closePopupCalled)="toggleChatPopup()" [twilioToken]="twilioToken" [currentUser]="currentUser">
  </app-chat-popup>
  }
</div> -->

@if(!currentUser.length){

<div style="text-align: center; margin-top: 50px;">
  <button class="w-buttons" style="background-color: #4CAF50;" (click)="loginAs('Michal.User')">Michal.User</button>
  <button class="w-buttons" style="background-color: #008CBA;" (click)="loginAs('Josh.Support')">Josh.Support</button>
  <button class="w-buttons" style="background-color: #f44336;" (click)="loginAs('Ede.Team')">Ede.Team</button>
  <button class="w-buttons" style="background-color: #f44336;" (click)="loginAs('Dany.Team')">Dany.Team</button>
</div>
}


@if (twilioToken)
{
<div style="max-width: 100vw;">
  <span>User Name = </span>
  <p>{{currentUser}}</p>
  <span>User token = </span>
  <p style="text-wrap: wrap;">{{twilioToken}}</p>
</div>


<div class="cht-w">
  <button id="chatbot-toggle-btn" (click)="toggleChatPopup()">Start Chat</button>

  @if (viewChatPopup) {
  <app-chat-popup (closePopupCalled)="toggleChatPopup()" [twilioToken]="twilioToken" [currentUser]="currentUser" [currentConversation]="currentConversation">
  </app-chat-popup>
  }
</div>
}
